@import "../../index.scss";

.link {
    text-decoration: none;
    color: black !important;
}

.item {
    border: 1px solid black;
    border-radius: 15px;
    margin: 3px auto;
    padding: 10px 25px;
    height: 120px;
    transition: border-color 0.2s ease;
    &:hover {
        border-color: $accent;
    }
    &:hover .location {
        color: $accent;
    }
}

.location {
    font-weight: bold;
    font-size: 1.7em;
    transition: color 0.2s ease;
}
.time{
    font-size: 1.1em;
}
.block{
    text-align: center;
    font-weight: 600;
    font-size: 0.8em;
    max-width:120px;
    padding:3px;
    height:25px;
    border-radius:10px;
}