@import "../../index.scss";

.link {
    text-decoration: none;
    color: black !important;
    animation: animate-in 0.3s ease;
}
.createdSpan {
    text-align: right;
    font-size: 0.8em;
}
.trash{
    text-align: center;
    font-size: 1.6em;
    background-color:$red;
    color:white;
    width:80px;
    border-radius:10px;
    cursor:pointer;
}
.item {
    text-align: left;
    border: 1px solid black;
    border-radius: 15px;
    margin: 3px auto;
    padding: 10px 25px;
    min-height: 120px;
    transition: border-color 0.2s ease;
    &:hover {
        border-color: $accent;
    }
    &:hover .name {
        color: $accent;
    }
}

.name {
    font-weight: bold;
    font-size: 1.7em;
    transition: color 0.2s ease;
}
.location {
    text-align: right;
}
.time {
    font-size: 1.1em;
    text-align: left;
}
.block {
    text-align: center;
    font-weight: 400;
    font-size: 1.2vh;
    min-width: 100px;
    padding: 5px;
    max-height: 30px;
    border-radius: 7px;
}
@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
