@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$accent: #53d188;
$gray: #dadada;
$bggray: #e8e8e8;
$bghover: darken($bggray, 10);
$bg: #ffffff;
$orange: #fbbebe;
$red:#F26C6C;
$defaultWidth: 90vw;
$maxWidth: 650px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

button {
    padding: 5px;
    border: none;
    border-radius: 5px !important;
    background-color: $bggray;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: darken($bggray, 5);
    }
}

.greenButton {
    @extend button;
    background-color: $accent;
    &:hover {
        background-color: darken($accent, 10);
    }
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: $bggray;
}

body::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 3px;
}
