@import "../../index.scss";

.title {
    color: $accent;
    text-align: center;
}

.formContainer {
    max-width: 70%;
    margin: auto;
}

input,
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px black solid;
}

button {
    padding: 5px;
    border: none;
    border-radius: 5px !important;
    background-color: $bggray;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: darken($bggray, 5);
    }
}
