@import "../../index.scss";

.title {
    color: $accent;
    text-align: center;
}

.formContainer {
    width: $defaultWidth;
    max-width: $maxWidth;
    margin: auto;
}

input,
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px black solid;
}
