@import "../../index.scss";

.con {
    width: $defaultWidth;
    max-width: $maxWidth;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.create {
    padding: 7px;
    &:hover {
        background-color: $accent;
    }
}

.sortDropdown {
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .label {
        margin: 0;
    }
}

.sortDropdownMenu {
    max-width: 20vw;
}

.label {
    text-align: right;
}
