@import "../../index.scss";

.con {
    width: $defaultWidth;
    max-width: $maxWidth;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.more {
    color: #5873ff;
    text-align: right;
}
