@import "../../index.scss";

.con {
    width: $defaultWidth;
    max-width: $maxWidth;
    margin: 0 auto;
    margin-top: 2vh;
    font-family: "Poppins", sans-serif;
}

.create {
    padding: 7px;
    &:hover {
        background-color: $accent;
    }
}

.sortDropdown {
    margin: 0 auto;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .label {
        margin: 0;
    }
}

.sortDropdownMenu {
    max-width: 15vw;
}

.label {
    text-align: center;
}
.hand {
    position: absolute;
    left: 0;
}
