@import "../../index.scss";

.create {
    padding: 7px;
    &:hover {
        background-color: $accent;
    }
}

.sortDropdown {
    margin: 0 auto;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .label {
        margin: 0;
    }
}

.sortDropdownMenu {
    max-width: 15vw;
}

.label {
    text-align: center;
}
.hand {
    position: absolute;
    left: 0;
}

.popupContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
