.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.marker {
    position: absolute;
    pointer-events: none;
    width: 25px;
    transform: translateY(-50%);
    z-index: 1;
}
.block {
    pointer-events: none;
}
