@import "../../index.scss";

.title {
    color: $accent;
    text-align: center;
    font-size: 2.1em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}
.header {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
}
.description {
    font-size: 1.2em;
    text-align: justify;
    background-color: $bggray;
    padding: 5px 10px;
}
.stack {
    * {
        border-radius: 5px;
    }
}
