@import "../../index.scss";

.footer {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 5px 0;
}
.txt {
    color: rgb(100, 100, 100);
    font-size: 0.9em;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
        color: black;
    }
}
