@import "../../index.scss";

.title {
    background: -webkit-linear-gradient(#fff, $accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: left;
    font-size: 1.6em;
    font-weight: bold;
}

.formContainer {
    width: $defaultWidth;
    max-width: $maxWidth;
    margin: auto;
}

input,
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px black solid;
}
