@import "../../index.scss";

.title {
color:black;
    text-align: left;
    font-size: 1.6em;
    font-weight: bold;
}

.formContainer {
    width: $defaultWidth;
    max-width: $maxWidth;
    margin: auto;
}

input,
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px black solid;
}

.redButton {
    background-color: rgb(255, 100, 100);
    color: #fff;
    &:hover {
        background-color: darken(rgb(255, 100, 100), 10);
    }
}
