@import "../../index.scss";

.title {
    color: $accent;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

input,
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px black solid;
}

.redButton {
    background-color: rgb(255, 100, 100);
    color: #fff;
    &:hover {
        background-color: darken(rgb(255, 100, 100), 10);
    }
}
