.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    column-gap: 5px;
    border: black 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
}
.content {
    font-size: 1em;
    color: black;
    margin: 0;
}
