@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
.item{
   border:1px solid black;
   width:70vw;
   max-width:500px;
   margin:0 auto;
}
.con{
   text-align: center;
    width:90%;
    margin:0 auto;
    font-family: 'Poppins', sans-serif;
}