@import "../../index.scss";

.ol-zoom-in,
.ol-zoom-out {
    padding: 3px;
    padding-top: 0;
    margin: 2px;
    background: $bggray;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: $bghover;
    }
}

.ol-rotate {
    display: none !important;
}
